
* {
    font-family: Arial, sans-serif;
}
.main {
    width: 50%;
    margin: 0 auto;
    padding: 5px;
}
#corp {
    color: red;
}
.corp {
    color: green;
}
a{
    text-decoration: none;
}
a[target]{
    color: violet;
}
p[class]{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(33, 140, 234);
}